{"openapi":"3.0.1","info":{"title":"Team manager API","version":"1.0"},"servers":[{"url":"https://rwfsh39.ru/s1/api/","description":"First Web Server"},{"url":"https://rwfsh39.ru/s2/api/","description":"Second Web Server"}],"paths":{"/v1/team/{team-id}/make-depressive":{"post":{"tags":["team"],"summary":"Make all heroes in the team depressive","description":"Make all heroes in the team depressive","operationId":"makeTeamDepressive","parameters":[{"name":"team-id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"All Human Being were depressed to the team. List of the team provided.","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ListHumanBeingDto"}}}},"400":{"description":"Operations parameters are invalid"},"415":{"description":"Content-Type header must be specified as XML in request"}}}},"/v1/team/{team-id}/add/{hero-id}":{"post":{"tags":["team"],"summary":"Add hero to the team","description":"Create a relation between some human-being and some team","operationId":"addHeroToTheTeam","parameters":[{"name":"hero-id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"team-id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Human Being were added to the team. List of the team provided.","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ListHumanBeingDto"}}}},"400":{"description":"Operations parameters are invalid"},"415":{"description":"Content-Type header must be specified as XML in request"}}}}},"components":{"schemas":{"CarDto":{"type":"object","properties":{"cool":{"type":"boolean","description":"Is car really cool?","xml":{"attribute":true}}},"description":"Human Car"},"CoordinatesDto":{"required":["y"],"type":"object","properties":{"x":{"type":"integer","description":"X coordinate","format":"int32"},"y":{"type":"number","description":"Y coordinate","format":"float"}},"description":"Coordinates"},"HumanBeingDto":{"title":"HumanBeing","required":["coordinates","creationDate","hasToothpick","id","minutesOfWaiting","name","realHero"],"type":"object","properties":{"id":{"type":"integer","description":"Unique ID generated on server","format":"int32"},"name":{"type":"string","description":"Name of Human Being"},"coordinates":{"$ref":"#/components/schemas/CoordinatesDto"},"creationDate":{"type":"string","description":"When object was created","format":"date-time"},"realHero":{"type":"boolean","description":"Is human real hero?","xml":{"attribute":true}},"hasToothpick":{"type":"boolean","description":"Does human has toothpick?","xml":{"attribute":true}},"impactSpeed":{"type":"number","description":"Impact speed","format":"float"},"minutesOfWaiting":{"type":"integer","description":"Minutes of waiting","format":"int64"},"weaponType":{"title":"Weapon type enum","type":"string","description":"Weapon Type","enum":["HAMMER","AXE","PISTOL","KNIFE","BAT"]},"mood":{"title":"Mood enum","type":"string","description":"Mood","enum":["SORROW","APATHY","CALM","RAGE","FRENZY"]},"car":{"$ref":"#/components/schemas/CarDto"}},"description":"Main structural unit. Describes a person. Purpose of this object is to be a part of some collection."},"ListHumanBeingDto":{"required":["humanBeing"],"type":"object","properties":{"humanBeing":{"type":"array","description":"Result human being","items":{"$ref":"#/components/schemas/HumanBeingDto"}}},"description":"List of human being"}}}}