{"openapi":"3.0.1","info":{"title":"Team manager API","version":"1.0"},"servers":[{"url":"https://rwfsh39.ru/s1/api","description":"First Web Server"},{"url":"https://rwfsh39.ru/s2/api","description":"Second Web Server"}],"paths":{"/v1/team/{team-id}/make-depressive":{"post":{"tags":["team"],"summary":"Make all heroes in the team depressive","description":"Make all heroes in the team depressive","operationId":"makeTeamDepressive","parameters":[{"name":"team-id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"All Human Being were depressed to the team. List of the team provided.","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ListHumanBeingDto"}}}},"400":{"description":"Operations parameters are invalid"},"415":{"description":"Content-Type header must be specified as XML in request"}}}},"/v1/team/{team-id}/add/{hero-id}":{"post":{"tags":["team"],"summary":"Add hero to the team","description":"Create a relation between some human-being and some team","operationId":"addHeroToTheTeam","parameters":[{"name":"hero-id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"team-id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Human Being were added to the team. List of the team provided.","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ListHumanBeingDto"}}}},"400":{"description":"Operations parameters are invalid"},"415":{"description":"Content-Type header must be specified as XML in request"}}}},"/v1/team/":{"get":{"tags":["team"],"summary":"Get heroes in the team","description":"Get heroes in the team in pairs","operationId":"getHeroes","responses":{"200":{"description":"Human Being were added to the team. List of the team provided.","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/ListHumanBeingDto"}}}},"415":{"description":"Content-Type header must be specified as XML in request"}}}}},"components":{"schemas":{"ListHumanBeingDto":{"required":["humanBeingPair"],"type":"object","properties":{"humanBeingPair":{"type":"array","xml":{"name":"pairs","wrapped":true},"items":{"$ref":"#/components/schemas/PairTeamHumanDto"}}}},"PairTeamHumanDto":{"required":["humanBeingId","teamId"],"type":"object","properties":{"humanBeingId":{"type":"integer","format":"int32"},"teamId":{"type":"integer","format":"int32"}}}}}}